* {
  margin: 0;
  box-sizing: border-box;
}

header {
  margin:auto;
  text-align: center;
background-image: linear-gradient(to right, rgb(45, 45, 218), rgb(53, 169, 223));
color: white;
}
body{
    background-color: rgb(231, 231, 231);
}
/* #container {
  display: flex;
   width: 100%; 
} */

#city-search {
  display: inline;
  background-color: rgb(45, 45, 218);
  border-radius: 5px;
  text-align: left;
}

#weather-display {
  display: inline-block;
}

.sections {
margin: 0;
  padding: 20px;
}

#oneDay {
  height: 300px;
}

#oneDayForecast{
    padding: 15px;
}

#fiveDay{
  display:inline;
  justify-content: space-around;
}

.fiveDayWeather{
  display: flex;
  justify-content: space-around;
}

#fiveDay p {
  color: white;
  padding: 5px;
}

#fiveDay h5 {
    color: white;
    padding: 5px;
  }
/* ////////////////////////////////////////////////////////Single Days///////////////// */

.singleOfFive {
  flex-wrap: wrap;
  background-color: rgb(53, 169, 223);
  padding: 10px;
}

#button{
    width: 100%;
text-align: center;
padding: 10px;
margin: 10px 0;
}