* {
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-left: 50%;
}

/* #container {
  display: flex;
   width: 100%; 
} */

#city-search {
  border: blue 1px solid;
  display: inline;
}

#weather-display {
  border: green solid 2px;
  display: inline-block;
}

.sections {
margin: 0;
  padding: 20px;
}

#oneDay {
  border: yellow 1px solid;
  height: 300px;
}

#fiveDay {
  border: red 1px solid;
  display: flex;
  justify-content: space-around;
}

#fiveDay p {
  color: black;
  padding: 5px;
}

#fiveDay h5 {
    color: black;
    padding: 5px;
  }
/* ////////////////////////////////////////////////////////Single Days///////////////// */

.singleOfFive {
  flex-wrap: wrap;
  background-color: rgb(58, 58, 138);
  padding: 10px;
}

.fiveBoxes {
  display: flex;
  justify-content: space-around;
}
